$size: 100px;
$colorDark:#333;
$colorLight:green;
body {
    background-color: #333;
}
button {
    width: $size;
    height: $size;
    border-radius: $size;
    font-size: $size / 4;

    background: linear-gradient(
        darken($colorLight, 7%) , 
        lighten($colorLight, 60%),
        darken($colorLight, 7%)
        );

    border: $size * 0.03 solid darken($colorLight, 7%) ;
    color: $colorDark;

    box-shadow: 0px 0px $size * 0.05 $size * 0.03 darken($colorDark, 10%) ;
    text-shadow: $size * 0.005 $size * 0.005 $size * 0.01 lighten($colorLight, 60%) , $size * - 0.005 $size * - 0.005 $size * 0.01 darken($colorLight, 7%) ;
    cursor: pointer;


    &:hover {
            background: linear-gradient(lighten($colorLight, 60%), darken($colorLight, 7%), lighten($colorLight, 60%));
            border-color: $colorLight;
            box-shadow: 0px 0px $size * 0.002 $size * 0.01 darken($colorDark, 10%);
        }
}